<a href="https://colab.research.google.com/github/jonambach/Python-Object-Lists-and-Dictionaries-/blob/master/Python_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mean = Average of values 

STD = Standard Deviation

Features = Column Names 

Pandas = Python Library to easy indexing

Mode = Value that appears the most often

Median = Middle Value of Data

Scipy = Solves High Level Math Equations 

Sets = Unordered Collections 

Min = Min Column 

Max = Max Column Values 

One Hot Encoding = Converts text and 
strings to numbers for machine learning 

Atributes = Data within Rows of the 
features 

Numpy = helps Python perform fast 
mathmatical operations 

Dictionary = Creates key values (used 
heavily in NoSQL)

NoSQL (Not Only Structured Query Language) 
= Languaged used to work with unstructuted 
data 

NoSQL Software = PostgreSQL, Microsoft SQL Server, MySQL, SQLite

Loops = Perform a task over and over again
Range Function = Outputs an ordered sequence as a list 

Integer = Number 

Float = Numbers with Decimals 

String = Sequence of Characters (words, 
letters, numbers, ints, floats, etc)

Object = All Characters (Strings and Objects have become synonymous)

List = a sequence of objectsPlease stage areas as you see fit. trings (Lists are Tuples by defaul unless you add Brackets)

Brackets = make it a list (means you can change values within var aka mutable)

Tuple = Parenthesis (means you can't change values within var unless you recreate the var aka immutable)

In [0]:
#comments here 
house = ['roof','floor','bathroom']

In [2]:
house

['roof', 'floor', 'bathroom']

In [0]:
#this allows us to change the values in the first portion of the list 
house[0] = "backyard"

In [4]:
house

['backyard', 'floor', 'bathroom']

In [0]:
house = ('roof', 'floor', 'bathroom')

In [0]:
#create a list within a list. This is called a nested list. 
house_list = ['roof', ['floor','bathroom'], 'kitchen']

In [7]:
house_list[1]

['floor', 'bathroom']

In [8]:
house_list

['roof', ['floor', 'bathroom'], 'kitchen']

In [9]:
#this code allows us to locate information within lists 
#pull from 1'st position within the list and the second value

house_list = ['roof', ['floor','bathroom'], 'kitchen']
print(house_list[1][1])

bathroom

In [10]:
#add another data point to list 
house_list[1].append("more_stairs")
print(house_list)

['roof', ['floor', 'bathroom', 'more_stairs'], 'kitchen']

In [11]:
#lists have a particular lenght 
house_list_length = len(house_list)
print(house_list)

['roof', ['floor', 'bathroom', 'more_stairs'], 'kitchen']

In [12]:
#shows how many values are in the list 
house_list_length

3

In [13]:
print("You have {} different parts of your house".format(house_list_length))

You have 3 different parts of your house

# `Creating a *dictionary*`

In [0]:
#simple dictionary 
#dictionaries are used heavily in NoSQL processing 

Analyst = {
    "name": "Jon",
    "profession": "Data Analyst"}

Customer  = {
    "Company": None,
    "Business Industry": "Real Estate",
    "Company Locations": 23,
    "Employee Count": 1000,
}

In [18]:
if Customer["Company"] is None:
    Customer["Company"] = input("Create a dba Company name for me to register?""")
    print("Great nice to meet you, my name is {}".format(Analyst["name"]))

Create a dba Company name for me to register?df
Great nice to meet you, my name is Jon

In [0]:
Customer["Business Industry"] = "New Industry"

In [20]:
print(Customer["Business Industry"])

New Industry

In [0]:
house_price = {
    'San_Antonio': 200000,
    'Houston': 300000,
    'LA': 500000,
}

In [0]:
def prices (house_types):
    if house_types in house_price:
        return 'The house price for {} is ${}'.format(house_types, house_price[house_types])

In [25]:
prices('Houston')

'The house price for Houston is $300000'